<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/img/slid/Снимок экрана 2022-04-08 в 11.20.15.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Владимир Познер</h5>
        <p>Один из самых активных последователей моды на яркие носки в России. Любой деловой костюм, дорогие кожаные
          туфли и строгий образ он умело сочетает с необычными носками, которые ставят финальную яркую точку в его луке.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/img/slid/Снимок экрана 2022-04-08 в 11.20.40.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Дэниэл Рэдклифф</h5>
        <p>Тут и говорить нечего, потому желтые носки - это бомба. В общем, спасибо Дэниелю Рэдклиффу за счастливое
          детство и за отличную демонстрацию того, как желтые носки могут оживить даже самые простые джинсы, рубашку и
          пиджак.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/img/slid/Снимок экрана 2022-04-08 в 11.21.53.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Джим Левинстайн</h5>
        <p>Ну и как мы могли обойтись без неповторимого амбассадора нашего бренда - Джимми.Еще в далеком 2000-м он стал
          одним из любимых персонажей нашего детства, оставив нам яркие эмоции и множество воспоминаний</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="map" id="map"></div>
<!-- Section: Links  -->
<section class="">
  <div class="container text-center text-md-start mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase fw-bold mb-4">
          <i class="fas fa-gem me-3"></i>Носочки Азамата
        </h6>
        <p>
          Моя компания занимается реализацией подаренных Эльбрусом носков
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4">
          Стек используемых инструментов
        </h6>
        <p>
          <a href="https://en.wikipedia.org/wiki/JavaScript" class="text-reset">JS</a>
        </p>
        <p>
          <a href="https://nodejs.org/en/" class="text-reset">Node</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Express</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Что-то еще</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->

      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4">
          Контакты
        </h6>
        <p><i class="fas fa-home me-3"></i>Санкт-Петербург, Кирочная 19</p>
        <p>
          <i class="fas fa-envelope me-3"></i>
          <a href="https://elbrusboot.camp/" class="text-reset">ElbrusCodingBootcamp</a>
        </p>
        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
</section>
<!-- Section: Links  -->

<!-- Copyright -->
<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
  © 2022 Copyright:
  <a class="text-reset fw-bold" href="https://elbrusboot.camp/">ElbrusCodingBootcamp</a>
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->