<div class="container">
  <style>
    .container {
      margin-left: 20%;
      /* Отступ слева */
      margin-right: 30%;
      /* Отступ слева */
      background-color: rgb(169, 208, 245);
      /* Цвет фона */
      padding: 10px;
      /* Поля вокруг текста */
    }
  </style>
  <form id="login" method="post" action="/login">
    <div class="form-outline mb-4">
      <input type="email" id="form2Example1" class="form-control" />
      <label class="form-label" for="form2Example1">Почта</label>
    </div>

    <div class="form-outline mb-4">
      <input type="password" id="form2Example2" class="form-control" />
      <label class="form-label" for="form2Example2">Пароль</label>
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-3">Войти</button>
    <div class="text-center">
      <p>Нет аккаунта? <a href="/views/regist.hbs">Регистрация</a></p>
    </div>
  </form>
</div>